.container-box {
    width: calc(100vw - 220px);
    height: calc(100vh - 110px);
    margin-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.table-box {
    margin-top: 10px;
    padding: 10px;
    height: 700px;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}

.drawer-box {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
}