.container-box {
    width: calc(100vw - 220px);
    height: calc(100vh - 110px);
    margin-top: 10px !important;
    box-sizing: border-box;
    overflow: hidden;
}

.table-box {
    margin-top: 10px;
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}

.table-box-h-700 {
    height: 700px !important;
}

.drawer-box {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.oneRow {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}